*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #1bb3ce;
}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg,#87abc0,#96cdf1);
    color: #210505;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
} 
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background:#81d8cb;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background: #81d8cb;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img{
    width: 16px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e6f5e6;
    margin: 0;
    padding: 0;
}

.form {
    width: 300px;
    height: 450px;
    background: linear-gradient(to top, #0f0f0f 50%, #0f0f0f 50%);
    position: absolute;
    top: 10px;
    left: 400px;
    border-radius: 10px;
    padding: 25px;
}

.form h2 {
    width: 220px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input {
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: Arial, sans-serif;
}

.form input:focus {
    outline: none;
}

::placeholder {
    color: #ff7200;
    font-family: Arial, sans-serif;
}

.button-login {
    width: 240px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}

.button-login:hover {
    background: #fff;
    color: #ff7200;
}

.button-login a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}


.form .link {
    font-family: Arial, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
    color: #fff;
}

.form .link a {
    text-decoration: none;
    color: #fefbf9;
}

.liw {
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    color: #fff;
}

.icon a {
    text-decoration: none;
    color: #fff;
}

.icon ion-icon {
    color: #fff;
    font-size: 30px;
    padding-left: 5px;
    padding-top: 5px;
    transition: 0.3s ease;
}

.icon ion-icon:hover {
    color: #ff7200;
}
